  /* 一些global css属性,会原样输出 */
:global(.green) {
    color : green;
}

:global .pink {
    color: pink;
}



.container{
    width: 200px;
    height: 200px;
    color: #fff;
    display: flex;
}

.left{
    flex: 1 0 0;
    background-color: green;
    composes : redClass from './style2.module.css'
}
.right{
    flex: 1 0 0;
    background-color: greenyellow;
}